{% if site.footer-links.linkedin %}<a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}"><img src="" alt="" height="" width=""></a>{% endif %}
{% if site.footer-links.rss %}<a href="{{ site.baseurl }}/feed.xml"><img src="" alt="RSS" height="" width=""></a>{% endif %}
{% if site.footer-links.twitter %}<a href="https://www.twitter.com/{{ site.footer-links.twitter }}"><img src="../images/Twitter_Social_Icon_Circle_Color.png" alt="twitter" height="20px" width="20px"></a>{% endif %}
